<div id="dropdown-menu-trigger" class="navbar__dropdown-trigger nav-item">
    <i class="navbar__dropdown-trigger__icon material-icons-round font-size--36pt">arrow_drop_down</i>
</div>
<div id="dropdown-menu" class="navbar__dropdown" data-trigger="dropdown-menu-trigger">
    <div class="dropdown__list">
        <div class="item--condensed dropdown__item" data-menu="products-menu">
            <i class="dropdown__item__icon icon--left material-icons-round">
                get_app
            </i>
            <span class="item__label label--grow"><%= translations['footer.products'] %></span>
            <i class="dropdown__item__icon material-icons-round">
                chevron_right
            </i>
        </div>
        <a href="<%= `/${locale}/developer` %>" class="item--condensed dropdown__item item--left">
            <i class="dropdown__item__icon icon--left material-icons-round">
                face
            </i>
            <%= translations['common.hire-me'] %>
        </a>
        <a href="<%= `/${locale}/organization` %> "class="item--condensed dropdown__item item--left">
            <i class="dropdown__item__icon icon--left material-icons-round">
                corporate_fare
            </i>
            <%= translations['common.organization'] %>
        </a>
    </div>
    <div class="dropdown__menu" id="products-menu">
        <div class="dropdown__menu__header">
            <div data-back class="item--condensed dropdown__header-action item--left">
                <i class="dropdown__header-icon icon--back material-icons-round">chevron_left</i>
                <%= translations['footer.products'].toUpperCase() %>
            </div>
        </div>
        <ul class="dropdown__list">
            <% products.forEach(product => { %>
                <a class="dropdown__item dropdown__item__link item--left" href="/<%= locale %>/product/<%= product.name.toLowerCase() %>">
                    <%= product.name %>
                    <span class="item__label label--secondary">
                        <%= product.description %>
                    </span>
                </a>
            <% }) %>
        </ul>
    </div>
</div>