<div id="locale-picker-trigger" class="navbar__dropdown-trigger nav-item">
    <i class="navbar__dropdown-trigger__icon material-icons-round">public</i>
</div>
<div id="locale-picker" class="navbar__dropdown" data-trigger="locale-picker-trigger">
    <span class="dropdown__title">
        <%= translations['locale-picker.language'] %>
    </span>
    <div class="dropdown__list">
        <% const selected = locales.find(l => l.code === locale) %>
        <% if (selected) { %>
            <span class="dropdown__item item--selected">
                <%= selected.name %>
                <i class="dropdown__item__icon icon--check material-icons-round">
                    radio_button_checked
                </i>
            </span>
        <% } %>
        <% locales.filter(locale => locale.code !== selected.code).forEach(locale => { %>
            <a data-ref="<%= locale.code %>" href="<%= locale.localizedPath %>" class="dropdown__item__link dropdown__item">
                <%= locale.name %>
                <i class="dropdown__item__icon icon--uncheck material-icons-round">
                    radio_button_unchecked
                </i>
            </a>
        <% }) %>
    </div>
</div>