<nav class="navbar navbar--<%= theme %>">
    <div class="c-navbar c-content">
        <a class="navbar__brand" href="/<%= page.locale %>">
            <%= page.brand %>
        </a>
        <div class="navbar__nav-items nav-items--right">
            <div id="dropdown-menu-trigger" class="navbar__dropdown-trigger nav-item">
                <i class="navbar__dropdown-trigger__icon material-icons-round font-size--36pt">
                    arrow_drop_down
                </i>
            </div>
            <%- include('navbar/dropdown-menu.ejs', {
                theme: theme
            }) %>
            %>
            <div id="locale-picker-trigger" class="navbar__dropdown-trigger nav-item">
                <i class="navbar__dropdown-trigger__icon material-icons-round">
                    public
                </i>
            </div>
            <%- include('navbar/locale-picker.ejs', {
                theme: theme
            }) %>
        </div>
    </div>
</nav>