<ul>
    <% previews.forEach((preview) => { %>
    <% if (preview.selected === true) { %>
    <li aria-id="<%= preview.id %>" class="active">
    <% } else { %>
    <li aria-id="<%= preview.id %>">
    <% } %>
        <h1 aria-i18n="preview.<%= preview.id %>.title"></h1>
        <h2 aria-i18n="preview.<%= preview.id %>.subtitle"></h2>
        <p aria-i18n="preview.<%= preview.id %>.content"></p>
        <a href="#">Learn more</a>
    </li>
    <% }) %>
</ul>