<ul>
    <% previews.forEach((preview) => { %>
    <% if (preview.selected === true) { %>
    <li aria-id="<%= preview.id %>" class="active">
    <% } else { %>
    <li aria-id="<%= preview.id %>">
    <% } %>
        <h1><%= preview.title %></h1>
        <h2><%= preview.subtitle %></h2>
        <p><%= preview.content %></p>
        <a href="<%= preview.route %>"><%= preview.callout %></a>
    </li>
    <% }) %>
</ul>