<div id="dropdown-menu-trigger" class="navbar__dropdown-trigger nav-item">
    <i class="navbar__dropdown-trigger__icon material-icons-round font-size--36pt">arrow_drop_down</i>
</div>
<div id="dropdown-menu" class="navbar__dropdown" data-trigger="dropdown-menu-trigger">
    <ul class="dropdown__list">
        <div class="dropdown__item" data-menu="products-menu">
            <span><%= translations['footer.products'] %></span>
            <i class="dropdown__item__icon material-icons-round">chevron_right</i>
        </div>
    </ul>
    <div class="dropdown__menu" id="products-menu">
        <div class="dropdown__menu__header">
            <div data-back class="dropdown__item item--left" data-menu="products-menu">
                <i class="dropdown__item__icon material-icons-round">chevron_left</i>
                <span><%= translations['common.back'] %></span>
            </div>
        </div>
        <ul class="dropdown__list">
            <% products.forEach(product => { %>
                <li class="dropdown__item">
                    <a class="dropdown__item__link" href="/<%= locale %>/product/<%= product.name.toLowerCase() %>">
                        <%= product.name %>
                        <span>
                            - <%= product.description %>
                        </span>
                    </a>
                </li>
            <% }) %>
        </ul>
    </div>
</div>