<div id="menu-dropdown">
    <div id="menu-dropdown-trigger" class="dropdown-button">
        <i class="material-icons-round">arrow_drop_down</i>
    </div>
    <div id="menu" class="dropdown-menu">
        <h2><%= translations['footer.products'] %></h2>
        <ul>
            <% products.forEach(product => { %>
                <li><a class="product" href="/<%= locale %>/product/<%= product.name.toLowerCase() %>"><%= product.name %><span> - <%= product.description %></span></a></li>
            <% }) %>
        </ul>
    </div>
</div>