<footer class="footer">
    <div class="c-content">
        <h1 class="footer__title"><%= page.translations['footer.products'].toUpperCase() %></h1>
        <div class="footer__list">
            <% products.forEach(product => { %>
                    <a class="footer__item" href="/<%= page.locale %>/product/<%= product.name.toLowerCase() %>">
                        <%= product.name %>
                        <span class="footer__secondary">
                            - <%= product.description %>
                        </span>
                    </a>
            <% }) %>
        </div>
        <a href="/<%= page.locale %>" class="footer__brand">
            Ecolier
            <span class="footer__brand-spirit">
                <%= page.translations['footer.spirit'] %>
            </span>
        </a>
    </div>
</footer>