<header class="summary">
    <h1 class="summary__title"><%= translations['product.contents'].toUpperCase() %></h1>
    <div class="summary__list">
        <% summary.forEach((section, index) => { %>
            <% if (index === 0) { %>
                <a class="summary__item item--selected" href="#<%= hyphenate(section) %>">
                    <%= section %>
                </a>
            <% } else { %>
                <a class="summary__item" href="#<%= hyphenate(section) %>">
                    <%= section %>
                </a>
            <% }}) %>
        </div>
</header>